<div ng-controller="mpqCtrl">

<!-- timeout based on less than 2 mins remaining. -->
<div class="container">
	<span class="col-md-2">NAME:{{userfirstname + " " + userlastname}}</span>
	<span class="col-md-2">DATE:{{today.date}}</span>
	<span class="col-md-2 timer timeout">TIME: {{minutes}} : {{seconds}}</span>
	<label> SUBMIT :</label>
	<button ng-click="verfiyAnswer()"><a href="#/results/mpq">FINISH</a></button>
</div>
	<div class="container">
	<table border="1">
		<thead>
		<tr>
			<th class="testlabels">Manchester Personality Questionaire
			</th>
			<!--ngmodel scope-->
			<th class="testlabels" colspan="5">Choose the best Answer from the following.
			</th>
			<th class="testlabels" colspan="2">Data Test

			</th>
		</tr>
		<tr>
			<th class="testlabels">QUESTIONS
			</th>
			<th class="testlabels">VERY SELDOM
			</th>
			<th class="testlabels">SELDOM
			</th>
			<th class="testlabels">SOMETIMES
			</th>
			<th class="testlabels">OFTEN
			</th>
			<th class="testlabels">VERY TRUE
			</th>
			<th class="testlabels">(RAW)
			</th>
			<th class="testlabels">(SGroup)
			</th>
		</tr>
		</thead>
		<tbody>
	<!-- NGModel changes reverseValue assign, rawValue array, assign questionRaw  -->
	<!--(key,val) in testQuestions.groupRaw-->
		<tr ng-repeat ="testQuestion in testQuestions">
			<td>{{$index + 1}}.  {{testQuestion.textQuestion}}</td>
			<td>
				<input type="radio" ng-show="testQuestion.reverseValue =='false' " id=" 'raws' + ($index+1)" ng-model="testQuestion.raw" ng-value="1" name="{{testQuestion.id}}">
				<input type="radio" ng-show="testQuestion.reverseValue =='true' " id=" 'raws' + ($index+1)" ng-model="testQuestion.raw" ng-value="5" name="{{testQuestion.id}}">
			</td>
			<td><input type="radio" ng-show="testQuestion.reverseValue=='false' " id=" 'raws' + ($index+2)" ng-model="testQuestion.raw" ng-value="2" name="{{testQuestion.id}}">
				<input type="radio" ng-show="testQuestion.reverseValue=='true' " id=" 'raws' + ($index+2)" ng-model="testQuestion.raw" ng-value="4" name="{{testQuestion.id}}">
			</td>
			<td><input type="radio" id="{{ 'raws' + ($index+3) }}" ng-model="testQuestion.raw" ng-value="3" name="{{testQuestion.id}}">
			</td>
			<td><input type="radio" ng-show="testQuestion.reverseValue=='false' " id=" 'raws' + ($index+4) " ng-model="testQuestion.raw" ng-value="4" name="{{testQuestion.id}}">
				<input type="radio" ng-show="testQuestion.reverseValue=='true' " id=" 'raws' + ($index+4) " ng-model="testQuestion.raw" ng-value="2" name="{{testQuestion.id}}">
			</td>
			<td><input type="radio" ng-show="testQuestion.reverseValue=='false' " id=" 'raws' + ($index+5) " ng-model="testQuestion.raw" ng-value="5" name="{{testQuestion.id}}">
				<input type="radio" ng-show="testQuestion.reverseValue=='true' " id=" 'raws' + ($index+5) " ng-model="testQuestion.raw" ng-value="1" name="{{testQuestion.id}}">
			</td>
			<!--POSSIBLE NG SHOW, FOR JUST TESTING PRODURE ONLY		-->
			<td style="color:red"> {{ testQuestion.raw }}
			</td>
			<td style="color:blue">
				<span ng-show="testQuestion.group=='S01'">S01:{{ testQuestion.raw }} </span>
				<span ng-show="testQuestion.group=='S02'">S02:{{ testQuestion.raw }} </span>
				<span ng-show="testQuestion.group=='S03'">S03:{{ testQuestion.raw }} </span>
				<span ng-show="testQuestion.group=='S04'">S04:{{ testQuestion.raw }} </span>
				<span ng-show="testQuestion.group=='S05'">S05:{{ testQuestion.raw }} </span>
				<span ng-show="testQuestion.group=='S06'">S06:{{ testQuestion.raw }} </span>
				<span ng-show="testQuestion.group=='S07'">S07:{{ testQuestion.raw }} </span>
				<span ng-show="testQuestion.group=='S08'">S08:{{ testQuestion.raw }} </span>
				<span ng-show="testQuestion.group=='S09'">S09:{{ testQuestion.raw }} </span>
				<span ng-show="testQuestion.group=='S10'">S10:{{ testQuestion.raw }} </span>
				<span ng-show="testQuestion.group=='S11'">S11:{{ testQuestion.raw }} </span>
				<span ng-show="testQuestion.group=='S12'">S12:{{ testQuestion.raw }} </span>
				<span ng-show="testQuestion.group=='S13'">S13:{{ testQuestion.raw }} </span>
				<span ng-show="testQuestion.group=='S14'">S14:{{ testQuestion.raw }} </span>
				<span ng-show="testQuestion.group=='S15'">S15:{{ testQuestion.raw }} </span>
			</td>
			<!--END -->
		</tr>
	</tbody>
	</table>
	</div>

</div>


