<div ng-controller="TestingCtrl">
	<div class="container reminder">
	<h2>REMINDERS:</h2>
		<p>Please tackle the questionnaire in the following way.
			<ol>
				<li>Consider each statement quickly and select the rating which describes the way you act, feel or think.
				</li>
				<li>Using the menu provided, tick ( &#10003 ) choose which corresponds to the rating you have chosen.
				</li>
				<li>Please make sure that you complete all the items.
				</li>
				<li>If you wish to change one of your answers, just choose a different option.
				</li>
				<li>Try to avoid using the middle rating - <u> Fairly Often </u>
				</li>
				<li>Please respond honestly. There is little point trying to create a favourable impression as this can be detected.				
				</li>
			</ol>
			When your ready. Press the Start Button.
		</p>
		<!-- {{selected text}} -->
		<button ng-click=""><a href="#/tests/mpq">START</a></button>
	</div>
</div>


