<div>
<h1>Application Notes:</h1>
	<p>
		Please check the following.
		<ol>
			<li>Choose Time Limits for Type of Examination...
			</li>
			<li>Include which Type of Test to Run...
			</li>
		</ol>
		When ready to administer examinations. Press the Proceed Button below to start User Testing Mode.
	</p>
</div>
<form action="tester_submit" method="get" accept-charset="utf-8">
<table border="1">
	<thead>
	<tr>
			<th >#
			</th>
			<th >Exam Type
			</th>
			<th >Minutes
			</th>
			<th >Seconds
			</th>
			<th >Include
			</th>
		</tr>
	</thead>
	<tr ng-repeat="(key, value) in dataset">
		<td>{{count}} 
		</td>
		<td >{{x in tests}}
		</td>
		<td >
		<input type="number" value="5" ng-model="">
		</td>
		<td >
		<input type="number" value="30" ng-model="">
		</td>
		<td >
		<input type="checkbox">
		</td>
	</tr>
</table>
</br>
<button type="">PROCEED</button>
</form>

